html, body{
    height: 100%;
}

body{
    margin: 0;
    background-color: var(--primary-background);
    color: var(--text);
}

#title{
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}
#title h1{
    font-size: 3rem;
    margin-bottom: 0;
}
#title span{
    font-weight: 200;
}

#contSolarSystem{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.planet{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    opacity: .6;
    transition: all .5s;
}
.planet img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.labelPianeta{
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    border: 1px solid var(--star);
    border-radius: 5px;
    padding: 30px;
    margin: 5rem;
    background-color: var(--secondary-background);
}
.transparent-gradient {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 20%, var(--primary-background) 50%);
}

#navMenu {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 10;
}
.contVoce{
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .7;
    transition: all 500ms;
}
.voce {
    font-size: 1.2rem;
    transition: all 500ms;
}
.miniPlanet{
    width: 25px;
    margin: 0 10px;
    transition: all 500ms;
}
.contVoce:hover{
    opacity: 1;
}
.contVoce:hover .voce{
    transform: translateX(20px);
}
.contVoce:hover .miniPlanet{
    transform: translateX(5px) scale(1.2);
}