html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    background-color: var(--primary-background);
    color: var(--text);
}
body::selection{
    background-color: var(--evidention);
    color: var(--primary-background);
}

#title{
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}
#title h1{
    font-size: clamp(2rem, 3rem, 5vw);
    margin-bottom: 0;
    color: var(--evidention);
}
#title span{
    font-weight: 200;
    color: var(--blu-accent);
}

#contNebulose{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#contSolarSystem{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.planet{
    width: clamp(250px, 500px, 80vw);
    height: clamp(250px, 500px, 80vh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    opacity: .6;
    transition: all .5s;
}
.planet img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.labelPianeta{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 30%;
    border: 1px solid var(--star);
    border-radius: 5px;
    padding: 30px;
    margin: 0 5rem 0 0;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    z-index: 11;
}
.labelCaratteristiche{
    font-size: clamp(1rem, 1.5rem, 3vw);
    color: var(--secondary-text);
}
.labelNomePianeta{
    font-size: clamp(4rem, 6rem, 10vw);
    display: block;
}
.textLabel{
    color: var(--text);
}
.transparent-gradient {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 20%, var(--primary-background) 50%);
}

#navMenu {
    display: flex;
    flex-direction: column;
    width: clamp(150px, 20%, 300px);
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 10;
}
.contVoce{
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .7;
    transition: all 500ms;
}
.voce {
    font-size: 1.2rem;
    transition: all 500ms;
}
.miniPlanet{
    width: 25px;
    margin: 0 10px;
    transition: all 500ms;
}
.contVoce:hover{
    opacity: 1;
}
.contVoce:hover .voce{
    transform: translateX(20px);
}
.contVoce:hover .miniPlanet{
    transform: translateX(5px) scale(1.2);
}

.btnDiscoverMore{
    padding: 20px 30px;
    width: 50%;
    margin: 50px 20px 20px 0;
    border: 1px solid var(--evidention);
    background-color: var(--primary-background);
    color: var(--evidention);
    border-radius: 25px;
    font-size: 1rem;
    transition: all .3s;
}
.btnDiscoverMore:hover {
    cursor: pointer;
    box-shadow: 0 0 20px var(--evidention);
    transform: translateY(-5px);
}

/* -- Telefono -- */
@media (max-width: 768px) {

    #navMenu{
        flex-direction: row;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 10px 0;
        overflow: scroll;
        width: 90%;
        background-color: var(--secondary-background);
        border-radius: 10px;
    }
    .miniPlanet{
        margin: 0;
        width: 35px;
        filter: drop-shadow(0 0 10px var(--primary-background));
    }
    .contVoce:hover .miniPlanet{
        transform: scale(1.2);
    }
    .voce{
        display: none;
    }
    .labelPianeta{
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        text-align: center;
        margin: auto;
    }
    .btnDiscoverMore{
        width: 100%;
    }

}