.pixel-font {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.primary-font {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}